{% extends 'schedule/base.html' %}

{% block content %}
<style>
.day{
    padding: 4px;
    width: 40px;
    height: 40px;
}
</style>
<h1>MySchedule</h1>
<ul>
    <li>{{ takuModel }}</li>
    <li>{{ userModel }}</li>
    <li>{{ takuDate }}</li>
    <li>{{ takuMember }}</li>
    <li>{{ users }}</li>
</ul>

<table>
    <tr><th colspan="7" class="month">12月 2021</th></tr>
    <tr><th class="sun">日</th><th class="mon">月</th><th class="tue">火</th><th class="wed">水</th><th class="thu">木</th><th class="fri">金</th><th class="sat">土</th></tr>
    {% for week in hc %}
    <tr> 
        {% for day in week %}
        <td>
            <button class="day">
                {% if day != 0 %}
                    {{day}}
                {% endif %}
            </button>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}